
*~
*.a
*.la
*.lo
*.o
*.so
*ib_doublewrite
*ib_logfile0
*ib_logfile1
*ibdata1

MySQL/#innodb_temp/
MySQL/ibtmp1

MySQL/ca-key.pem
MySQL/ca.pem

MySQL/ib_logfile0
MySQL/ibdata1
MySQL/mysql.ibd
MySQL/undo_001
MySQL/undo_002

MySQL/binlog.*