<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contactanos</title>

    <!-- CSS de Bootstrap -->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../resources/css/contacto.css" rel="stylesheet">

</head>

<body>
  <!-- INICIO NAVBAR -->
  <!-- partial:index.partial.html -->
<input type="checkbox" id="menu" />
<label for="menu" class="menu">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav class="nav">
    <ul>
      <li><a href="../PrincipalHome/index.html">Inicio</a></li>
      <li><a href="../PrincipalHome/acerca.html">Acerca</a></li>
      <li><a href="../PrincipalHome/contacto.html">Contacto</a></li>
    </ul>
</nav>
  <!-- FIN NAVBAR -->



    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>